<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Help Page for user profile</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- <link rel="stylesheet" type="text/css" href="../GC_Auth/static/GC_Auth/loginstyle.css">-->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
      <!-- footer style -->
      <link href="sticky-footer.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>

        /* specify the font for the page*/
      body {
          font-family: 'Roboto', sans-serif;
          text-align: center;

      }

        /*specifiy the font for the header*/
        .header p{

            font-size: 40px;
            color: gray;
            text-align: center;
            padding-top:0px;

        }

        /*specify the look for the pink strip*/
        .intro{
            background-color: #e83e8c;
            opacity:0.8;
            color: white;
            font-size: 20px;
            text-align: left;
            padding-left:200px;
            padding-right:200px;
            padding-top:20px;
        }

        /*css for the block text*/

        .features p{
            text-align: center;

            font-size:25px;
            padding-top:20px;
            font-size: 40px;
            color:gray;


        }
         /*footer logo*/
            footer img{


                width:200%;
                height:200%;
               text-align: left;

            }

        /*text for the blocks which show the features*/
         .row p{
            font-size: 20px;
            color:#e83e8c ;
            text-align: left;
            padding-top:0px;
    }

         /*headings for the blocks*/
    .row h1 {
        font-size: 18px;
        color: gray;
        text-align: left;
    }

    /*move the row away from the edges*/
        .row{
            padding-left: 40px;
            padding-right: 40px;
        }





    /*removes the underlining for the links in the blocks*/
        a:hover{
        text-decoration: none;

    }

        /*specify the look for the Freq asked Questions*/
        .faq{
            background-color: #9d9d9d;

            padding-left: 50px;
            padding-right:50px;
            padding-top: 10px;
            text-align: left;
            width:80%;
            position: center;
            display: inline-block;

        }

/*specify the heading for the FAQ*/
        .faq h1{
            font-size:20px;
            color: white;/*#e83e8c*/
            text-align:left;

        }

/*text qualities for the FAQ*/
        .faq p{
            font-size: 18px;
            color:silver;
            text-align:left;
            padding-top:0;

        }

        /*numbers in FAQ*/
        .numbercircles {
            border-radius: 50%;
            behavior: url(PIE.htc);
            width: 36px;
            height: 36px;
            padding: 8px;
            background: #9d9d9d;
            border: 2px solid white;
            color: white;
            text-align: center;
            font-size: 20px;
            display: inline-block;
        }

        /*strip for badges*/
        .badges{
            background-color: #e83e8c;
            opacity: 0.8;

        }


    </style>


</head>


<body>

 <!--*BODY* 1. Navigation Bar-->

<nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>  <!--navbar-header-->

                <div class="collapse navbar-collapse" id="myNavbar" > <!--Navigation bar contents-->

                    <!--Left-side (including search ) of navigation bar-->
                    <ul class="nav navbar-nav navbar-left">
                        <li><a onclick="location.href='{% url 'nav_home' %}'"><span class="glyphicon glyphicon-home fa-lg"></span> Home</a></li>
                        <li><a onclick="location.href='{% url 'nav_networks' %}'"><span class="fa fa-globe fa-lg"></span> Connections</a></li>
                        <li><a onclick="location.href='{% url 'nav_forums' %}'"><span class="fa fa-comments-o fa-lg"></span> Forums</a></li>
                        <li><a onclick="location.href='{% url 'nav_courses' %}'"><span class="fa fa-book fa-lg"></span> Courses</a></li>
                    </ul>

                    <ul class="nav navbar-nav" style = "left: 80px; position: relative; width:500px; padding-top: 8px"> <!--Search Input-->
                        <form class="  search-form" role="search">
                            <input type="text" class="form-control" placeholder="Search" />
                        </form>
                    </ul>

                    <!--Right-side (including help button ) of navigation bar-->

                    <!--1. User Profile icon + drop down-->

                    <ul class="nav navbar-nav navbar-right" >
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" >

                            <span  onclick="location.href='{% url 'userprofile' %}'" class="glyphicon glyphicon-user"></span>

                            <span class="glyphicon glyphicon-triangle-bottom"></span></a>

                            <ul class="dropdown-menu">
                                <li><a onclick="location.href='{% url 'settings' %}'">Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a onclick="location.href='{% url 'nav_forums' %}'">Forums <span class="fa fa-comments-o pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
                                <li class="divider"></li>
                                <li><a onclick="location.href='{% url 'helpUserProfile' %}'">Help<span class="glyphicon glyphicon-question-sign pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a onclick="location.href='{% url 'log' %}'">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                            </ul>
                        </li>
                    </ul>

                    <!--1. Notifications icon + drop down-->

                    <ul class="nav navbar-nav navbar-right ">
                        <li class="dropdown"><a id="idLabel" data-toggle="dropdown" data-target="#" href="#" onclick="CloseIntroForm(); OpenLogIn();">
                            <span class="glyphicon glyphicon-bell"></span> </a>

                            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                                <div class="notifications-wrapper">  <!--Notifications Dropdown div-->
                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>

                                    </a>
                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>

                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>
                                </div><!--End of Notifications Dropdown div-->

                                <!--Footer of notification drop down-->
                                <li class="divider"></li>
                                <li><a href="#">View All <span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>

                            </ul> <!--Dropdown menu Notification-->
                        </li><!--dropdown -->
                    </ul> <!--nav navbar-nav navbar-right-->


                    <!--2. Message icon + drop down-->

                    <ul class="nav navbar-nav navbar-right ">
                        <li class="dropdown"><a id="idMessage" data-toggle="dropdown" data-target="#" href="#" onclick="CloseIntroForm(); OpenLogIn();">
                            <span class="glyphicon glyphicon-envelope"></span> </a>

                            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                                <div class="notifications-wrapper"> <!--Messages Dropdown div-->

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>

                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>

                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                </div><!--End of Messages Dropdown div-->
                                <li class="divider"></li>
                                <li><a href="#">View All <span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>

                            </ul><!--Dropdown menu Messages-->
                        </li><!--dropdown -->
                    </ul> <!--nav navbar-nav navbar-right-->
                </div><!--collapse nav-bar collapse-->
            </div><!--container fluid-->
        </nav><!--nav navbar-inverse-->

 <!--heading and content-->

<div class="header">
    {% load staticfiles %}
 <p>  <img src="{% static "GC_Auth/help/accpic.png" %}" alt= "lock" class="image" > <strong> Your Account </strong></p>

</div>
<!--short intro paragraph in pink strip-->
<div class="intro">
    <p style="text-align: center;"> Your GetConnected account is an extension of yourself, your interests and achievements! Learn to manage your privacy settings and personalise you account to your unique style. </p><br>

</div>

 <!--show connections,forums and messaging in blocks with description-->
<div class="features">


    <!--make a table with  rows for items and 2 coloumns, one coloumn for images and another for text-->
    <div class="container-fluid" style= "text-align: center;">
        <!--row1 Personalising the profile -->
         <p>Personalising your Profile</p>
                <p style="font-size:20px;padding-top: 2px;"> Your profile is opened when you log in. This is how it appears to others on GetConnected.</p><br>
            <div class="row">
                <!--coloumn-->
            <div class="col-sm-6" style="background-color:white;">
                <!--description-->
                <p> Public & Private Accounts</p>
                <h1 style="color:grey;"> If your account is public, anyone on the GetConnected platform will be able to view your account and all your details. If you account is private,
                only your connections can view your account.</h1>
                <h1>Use the settings tog on the right hand side of your profile page to change this setting.  </h1>


            </div>
                 <!--coloumn-->
                <!--image-->
                <div class="col-sm-6" style="background-color:white;">
                    {% load staticfiles %}
                    <img src="{% static "GC_Auth/imageholder.png" %}" alt= "lock" class="image" style="width:50%; height:50%;" >


            </div>



            </div>
          <br>

        </div>
    <!--row 2nd paragraph on right-->

     <div class="row">
        <!--coloumn-->
        <div class="col-sm-6" style="background-color:white;">

             {% load staticfiles %}
                    <img src="{% static "GC_Auth/imageholder.png" %}" alt= "lock" class="image" style="width:50%; height:50%;" >

        </div>
             <!--coloumn-->
            <div class="col-sm-6" style="background-color:white;">
                <h1 style="color:grey;"> If your account is public, you can also use the settings tog to manage what information is shown to others. The settings page provides you with
                options to add or remove information visible on your profile. You can select which courses to show, which forums to show and what personal information
            is shown.</h1>

        </div>



    </div>
    <br><br>
    <!--row pictures-->

     <div class="row" style="padding-left: 60px;
            padding-right: 40px;">
        <!--coloumn-->
    <div class="col-sm-6" style="background-color:white;">
        <!--description-->
        <br><br>
        <p> Profile and Header Pictures</p>
        <h1>This is your account, you need to make it your own and add some of your own style! Consider updating your profile picture to your latest selfie and
        adding an image to your header that really captures the essence of you. </h1>
        <h1>Hover over your profile picture, click the button seen here on the right and follow the prompts to change or remove it.</h1>


    </div>
         <!--coloumn-->
        <!--image-->
        <div class="col-sm-6" style="background-color:white;">
            {% load staticfiles %}
            <img src="{% static "GC_Auth/help/changeProfile.png" %}" alt= "lock" class="image" style="height: 50%; width:50%;" >
            <!--% load staticfiles %}
            <img src="{% static "GC_Auth/help/accpic.png" %}" alt= "lock" class="image" >-->

    </div>



    </div>
  <br>

    <!--row-->
    <div class="row" style="padding-left: 60px;
            padding-right: 40px;">
        <!--coloumn-->
    <div class="col-sm-6" style="background-color:white;">
        <!--description-->

    {% load staticfiles %}
            <img src="{% static "GC_Auth/help/changeHeader.png" %}" alt= "lock" class="image" style="height: 80%; width:80%;" >

    </div>
         <!--coloumn-->
        <!--image-->
        <div class="col-sm-6" style="background-color:white;">

        <h1>Your header is the big strip of a picture behind your profile picture. Changing this really brings a unique element to your account and makes it
        more attractive to potential connections!</h1>
        <h1>Hover over the header, click the button seen here on the left and follow the prompts to change or remove it.</h1>

    </div>



    </div>
    <br>

    <!--row-->
    <div class="row" style="padding-left: 60px;
            padding-right: 40px;">
        <!--coloumn-->
    <div class="col-sm-6" style="background-color:white;">
        <!--description-->
        <p> Your information</p>
        <h1>By default your profile will show information about you which we have gathered from our GetSmarter databases. Information Shown includes : </h1>
        <h1>- Full Name</h1>
        <h1>- Number of Connections you have </h1>
        <h1>- Number of Forums you are in & the names of these forums</h1>
        <h1>- Your email address</h1>
        <h1>- The Country you are from</h1>
        <h1>- Courses completed at GetSmarter</h1>

         <h1> You can update this information at any time as well as control what is visible on your profile. Click the settings tog and follow the prompts to
            do so.</h1>



    </div>
         <!--coloumn-->
        <!--image-->
        <div class="col-sm-6" style="background-color:white;">
            <br><br><br>
            {% load staticfiles %}
            <img src="{% static "GC_Auth/help/personaldetails.png" %}" alt= "lock" class="image"  style="width:70%;height:70%;">


    </div>



    </div>
  <br>




<!--row -->

    <div class="badges">
        <p style="color:white;">
            {% load staticfiles %}
            <img src="{% static "GC_Auth/badge_icon.png" %}" alt= "trophy" class="image" style="width: 5%;height: 5%;" >
             Earning Badges
            {% load staticfiles %}
            <img src="{% static "GC_Auth/badge_icon.png" %}" alt= "trophy" class="image" style="width: 5%;height: 5%;" >
        </p>
        <div class="row" >
         <h1 style="color:white;">Badges are rewards you can earn for using the GetConnected system. You can view all the badges you have by clicking the trophy icon
                on the user profile page, as seen here:</h1>
            {% load staticfiles %}
            <img src="{% static "GC_Auth/help/badgeHelp.png" %}" alt= "trophy" class="image" style="width: 25%;height: 25%;" >
                <h1 style="color:white;">Hover over the badges to see what you earned them for. Badges can be rewarded for all sorts of engagement such as making connections,
                 using forums and more! </h1>

        </div>


    </div>


    <!--row 3 -->
    <p>Your Privacy</p>
 <div class="row">
     <h1>Here at GetConnected, your privacy is of the utmost importance to us. We have put measures in place to ensure your continued satisfaction.
     You, as the user, have the power to manage your account's level of privacy. You are able to control what is shown on your account, block other users
     and update their details in order to maintain your privacy. For more detailed information, please view our privacy policy .</h1>




</div>

    <!--Frequently asked questions section-->
    <p style="font-size: 40px;color:gray;text-align: center;"> Frequently Asked Questions</p>
<!--grey block with questions & answers-->
    <div class="faq">
        <!--question-->
        <h1>
        <div class="numbercircles">1</div><i>
        What happens when I delete my account?</i></h1>
        <!--padding left indents the answer to the right-->
        <p style="padding-left: 40px;">GetConnected doesn't delete your account, we just deactivate it. If you email GetSmarter they will reactivate it for you.
        </p>

        <!--question-->
        <h1>
        <div class="numbercircles">2</div><i>
        Is it possible for me to set my profile picture to nothing? </i></h1>
        <p style="padding-left: 40px;">Yes, when changing your profile picture select "default image" and your profile picture will become a default icon. </p>

        <!--question-->
        <h1>
        <div class="numbercircles">3</div><i>
        Where can I see all the badges available for me to unlock even if I have not earned them? </i></h1>
        <p style="padding-left: 40px;">Unfortunately, badges are kept a secret until they are unlocked. Engage with GetConnected more to earn them!</p>


    </div>
    <br><br>


</div>

 <footer class="page-footer font-small cyan darken-3" style="background-color: #D3D3D3;">


    <div class="container">
        <br></br>
        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <!--  <h5 class="mb-1">Log in now: </h5>-->
            </li>
            <li class="list-inline-item">





                <div class="rowthis" ><!--table row-->

                    <div class="col-sm-3"  style="text-align:left;padding-right: 100px;">
                        <br>
                    {% load staticfiles %}
                        <img src="{% static "GC_Auth/logotrans.png" %}" alt= "lock" class="image" >
                    </div>


                        <div class="col-sm-3"  style="text-align:left;padding-left: 120px;">

                          <p style="color:#e83e8c;font-size:20px;"><strong>Menu</strong></p>
                                <a onclick="location.href='{% url 'nav_home' %}'" style="color: white"> <p>Home</p></a>
                                <a onclick="location.href='{% url 'nav_networks' %}'" style="color: white"> <p>Connections</p></a>
                                <a onclick="location.href='{% url 'nav_forums' %}'" style="color: white"> <p>Forums</p></a>
                                <a onclick="location.href='{% url 'nav_courses' %}'"  style="color: white"> <p>Courses</p></a>
                         </div>

                    <div class="col-sm-3" style="text-align:left;padding-left: 80px;"><!--coloumn-->

                              <p style="color:#e83e8c;font-size:20px;"><strong>Help & FAQs</strong></p>

                                <a onclick="location.href='{% url 'introHelp' %}'" style="color: white"> <p>What is GetConnected?</p></a>
                                <a onclick="location.href='{% url 'accountHelp' %}'" style="color: white"> <p>Your Account</p></a>
                                <a onclick="location.href='{% url 'nav_home' %}'" style="color: white"> <p>Forum Help</p></a>
                                <a onclick="location.href='{% url 'nav_home' %}'" style="color: white"> <p>Connection Management</p></a>
                               <a onclick="location.href='{% url 'nav_home' %}'"style="color: white"> <p>Messaging</p></a>
                         <a href="https://www.getsmarter.com/what-we-do" style="color: white"> <p>GetSmarter</p></a>



                         </div>

                      <div class="col-sm-3" style="text-align:left;padding-left: 80px;"><!--coloumn-->

                              <p style="color:#e83e8c;font-size:20px;"><strong>Contact Us</strong></p>
                             <p style="color:white;"><strong>Tel: </strong> 456 4637</p>
                                <p style="color:white;"> <strong>Email: </strong> getConnected@GetSmarter.co.za</p>
                                 <p style="color:white;"><strong>Working Hours:</strong> Mon - Fri, 09:00 - 17:00</p>





                         </div>



                </div>

                <br>
                 <br>


            </li>
        </ul>
        <!-- Call to action -->

    </div>

</footer>


</body>
</html>