<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Help Page for user profile</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- <link rel="stylesheet" type="text/css" href="../GC_Auth/static/GC_Auth/loginstyle.css">-->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
      <!-- footer style -->
      <link href="sticky-footer.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>

        /* specify the font for the page*/
      body {
          font-family: 'Roboto', sans-serif;
          text-align: center;

      }
         /*footer logo*/


        /*specifiy the font for the header*/
        .header p{

            font-size: 40px;
            color: gray;
            text-align: center;
            padding-top:0px;

        }

        /*specify the look for the pink strip*/
        .intro{
            background-color: #e83e8c;
            opacity:0.8;
            color: white;
            font-size: 20px;
            text-align: left;
            padding-left:200px;
            padding-right:200px;
            padding-top:20px;
        }

        /*css for the block text*/

        .features p{
            text-align: center;
            color:silver;
            font-size:25px;
            padding-top:20px;


        }

        /*text for the blocks which show the features*/
         .row p{
            font-size: 20px;
            color: gray;
            text-align: left;
            padding-top:0px;
    }

         /*headings for the blocks*/
    .row h1 {
        font-size: 15px;
        color: black;
        text-align: left;
    }

    /*move the row away from the edges*/
        .row{
            padding-left: 35px;
            padding-right: 35px;
        }

    /*zoom features*/
        .zoom {
            padding: 30px;

            transition: transform .2s;
            margin: 0 auto;
            border: 1px solid silver ;
            box-shadow: 5px 5px 5px #888888;
        }

        /*zoom features*/
    .zoom:hover {
         -ms-transform: scale(1); /* IE 9 */
          -webkit-transform: scale(1); /* Safari 3-8 */
         transform: scale(1);
        border: 1px solid silver ;
        box-shadow: 5px 10px 8px #888888;


    }

    /*iicons in the blocks*/
    .row p img{
        height: 10%;
        width: 10%;
    }

    /*removes the underlining for the links in the blocks*/
        a:hover{
        text-decoration: none;

    }

        /*specify the look for the Freq asked Questions*/
        .faq{
            background-color: #9d9d9d;

            padding-left: 50px;
            padding-right:50px;
            padding-top: 10px;
            text-align: left;
            width:80%;
            position: center;
            display: inline-block;

        }

/*specify the heading for the FAQ*/
        .faq h1{
            font-size:20px;
            color: white;/*#e83e8c*/
            text-align:left;

        }

/*text qualities for the FAQ*/
        .faq p{
            font-size: 18px;
            color:silver;
            text-align:left;
            padding-top:0;

        }

        /*numbers in FAQ*/
        .numbercircles {
            border-radius: 50%;
            behavior: url(PIE.htc);
            width: 36px;
            height: 36px;
            padding: 8px;
            background: #9d9d9d;
            border: 2px solid white;
            color: white;
            text-align: center;
            font-size: 20px;
            display: inline-block;
        }

        footer img{


                width:200%;
                height:200%;
               text-align: left;

            }

    </style>


</head>


<body>

 <!--nav bar-->
 <!--*BODY* 1. Navigation Bar-->

<nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>  <!--navbar-header-->

                <div class="collapse navbar-collapse" id="myNavbar" > <!--Navigation bar contents-->

                    <!--Left-side (including search ) of navigation bar-->
                    <ul class="nav navbar-nav navbar-left">
                        <li><a onclick="location.href='{% url 'nav_home' %}'"><span class="glyphicon glyphicon-home fa-lg"></span> Home</a></li>
                        <li><a onclick="location.href='{% url 'nav_networks' %}'"><span class="fa fa-globe fa-lg"></span> Connections</a></li>
                        <li><a onclick="location.href='{% url 'nav_forums' %}'"><span class="fa fa-comments-o fa-lg"></span> Forums</a></li>
                        <li><a onclick="location.href='{% url 'nav_courses' %}'"><span class="fa fa-book fa-lg"></span> Courses</a></li>
                    </ul>

                    <ul class="nav navbar-nav" style = "left: 80px; position: relative; width:500px; padding-top: 8px"> <!--Search Input-->
                        <form class="  search-form" role="search">
                            <input type="text" class="form-control" placeholder="Search" />
                        </form>
                    </ul>

                    <!--Right-side (including help button ) of navigation bar-->

                    <!--1. User Profile icon + drop down-->

                    <ul class="nav navbar-nav navbar-right" >
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" >

                            <span  onclick="location.href='{% url 'userprofile' %}'" class="glyphicon glyphicon-user"></span>

                            <span class="glyphicon glyphicon-triangle-bottom"></span></a>

                            <ul class="dropdown-menu">
                                <li><a onclick="location.href='{% url 'settings' %}'">Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a onclick="location.href='{% url 'nav_forums' %}'">Forums <span class="fa fa-comments-o pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
                                <li class="divider"></li>
                                <li><a onclick="location.href='{% url 'helpUserProfile' %}'">Help<span class="glyphicon glyphicon-question-sign pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a onclick="location.href='{% url 'log' %}'">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                            </ul>
                        </li>
                    </ul>

                    <!--1. Notifications icon + drop down-->

                    <ul class="nav navbar-nav navbar-right ">
                        <li class="dropdown"><a id="idLabel" data-toggle="dropdown" data-target="#" href="#" onclick="CloseIntroForm(); OpenLogIn();">
                            <span class="glyphicon glyphicon-bell"></span> </a>

                            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                                <div class="notifications-wrapper">  <!--Notifications Dropdown div-->
                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>

                                    </a>
                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>

                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>
                                </div><!--End of Notifications Dropdown div-->

                                <!--Footer of notification drop down-->
                                <li class="divider"></li>
                                <li><a href="#">View All <span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>

                            </ul> <!--Dropdown menu Notification-->
                        </li><!--dropdown -->
                    </ul> <!--nav navbar-nav navbar-right-->


                    <!--2. Message icon + drop down-->

                    <ul class="nav navbar-nav navbar-right ">
                        <li class="dropdown"><a id="idMessage" data-toggle="dropdown" data-target="#" href="#" onclick="CloseIntroForm(); OpenLogIn();">
                            <span class="glyphicon glyphicon-envelope"></span> </a>

                            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                                <div class="notifications-wrapper"> <!--Messages Dropdown div-->

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>

                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>

                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                </div><!--End of Messages Dropdown div-->
                                <li class="divider"></li>
                                <li><a href="#">View All <span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>

                            </ul><!--Dropdown menu Messages-->
                        </li><!--dropdown -->
                    </ul> <!--nav navbar-nav navbar-right-->
                </div><!--collapse nav-bar collapse-->
            </div><!--container fluid-->
        </nav><!--nav navbar-inverse-->
        <!--end of nav-->

 <!--heading and content-->

<div class="header">
    {% load staticfiles %}
 <p>  <img src="{% static "GC_Auth/help/introgetconn.png" %}" alt= "lock" class="image" > <strong> Introducing GetConnected </strong></p>

</div>
<!--short intro paragraph in pink strip-->
<div class="intro">
    <p style="text-align: center;"> Welcome to GetConnected! GetSmarter's elite networking platform. Only students and ex-students of GetSmarter are using this platform. People who
    have completed online courses from the top universities around the globe, waiting for you to connect!</p><br>

</div>

 <!--show connections,forums and messaging in blocks with description-->
<div class="features">
    <p ><strong>Build relationships with Like-minded individuals who can help propel your career forward<br> in 3 simple steps:</strong> </p><br>

    <!--make a table with one row and 3 coloumns-->
    <div class="container-fluid">
<!--row1-->
    <div class="row">
        <div class="col-sm-4" style="background-color:white;">
            <div class="zoom">
                {% load staticfiles %}
                <p>  <img src="{% static "GC_Auth/help/connections.png" %}" alt= "lock" class="image" > <strong> Connections </strong>
                </p><h1> Build you GetConnected community with Connections. Connect with people who share your interests and courses. Click here to learn more.</h1>

            </div>
      </div>
      <!--coloumn-->
      <div class="col-sm-4" style="background-color:white;">
          <!--Zoom effect-->
            <div class="zoom">
               {% load staticfiles %}
                <p>  <img src="{% static "GC_Auth/help/forums.png" %}" alt= "lock" class="image" > <strong> Forums </strong>
                </p><h1> Create and use the GetConnected Forums to build your network. Attach articles and links to engage your participants. Click here to learn more. </h1>
            </div>
      </div>
        <!--coloumn-->
        <div class="col-sm-4" style="background-color:white;">
            <div class="zoom">
                 {% load staticfiles %}
                <p>  <img src="{% static "GC_Auth/help/messaging.png" %}" alt= "lock" class="image" > <strong> Messaging </strong>
                </p><h1> Message your connections with GetConnected. Start direct messages and create group chats to network and build relationships. Click here to learn more. </h1>

            </div>
      </div>

        <!--coloumn-->

    </div>
  <br>

</div>


    <!--Frequently asked questions section-->
    <p style="font-size: 40px;color:gray;"> Frequently Asked Questions</p>
<!--grey block with questions & answers-->
    <div class="faq">
        <!--question-->
        <h1>
        <div class="numbercircles">1</div><i>
        Am I required to engage on GetConnected in order to pass my GetSmarter Course?</i></h1>
        <!--padding left indents the answer to the right-->
        <p style="padding-left: 40px;">No, GetConnected is for your own use. It is merely a tool to add value to your life and you are not required to use it.</p>

        <!--question-->
        <h1>
        <div class="numbercircles">2</div>
        Is anyone allowed to join GetConnected?</h1>
        <p style="padding-left: 40px;">Only people who are completing or who have already completed courses with GetSmarter have access to GetConnected. </p>

        <!--question-->
        <h1>
        <div class="numbercircles">3</div>
        How much do I need to pay to use the platform? </h1>
        <p style="padding-left: 40px;">GetConnected is provided free of charge to all students of GetSmarter. It is a life time membership! </p>


    </div>
    <br><br>



</div>
 <br>

<footer class="page-footer font-small cyan darken-3" style="background-color: #D3D3D3;">


    <div class="container">
        <br></br>
        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <!--  <h5 class="mb-1">Log in now: </h5>-->
            </li>
            <li class="list-inline-item">





                <div class="rowthis" ><!--table row-->

                    <div class="col-sm-3"  style="text-align:left;padding-right: 100px;">
                        <br>
                    {% load staticfiles %}
                        <img src="{% static "GC_Auth/logotrans.png" %}" alt= "lock" class="image" >
                    </div>


                        <div class="col-sm-3"  style="text-align:left;padding-left: 120px;">

                          <p style="color:#e83e8c;font-size:20px;"><strong>Menu</strong></p>
                                <a onclick="location.href='{% url 'nav_home' %}'" style="color: white"> <p>Home</p></a>
                                <a onclick="location.href='{% url 'nav_networks' %}'" style="color: white"> <p>Connections</p></a>
                                <a onclick="location.href='{% url 'nav_forums' %}'" style="color: white"> <p>Forums</p></a>
                                <a onclick="location.href='{% url 'nav_courses' %}'"  style="color: white"> <p>Courses</p></a>
                         </div>

                    <div class="col-sm-3" style="text-align:left;padding-left: 80px;"><!--coloumn-->

                              <p style="color:#e83e8c;font-size:20px;"><strong>Help & FAQs</strong></p>

                                <a onclick="location.href='{% url 'introHelp' %}'" style="color: white"> <p>What is GetConnected?</p></a>
                                <a onclick="location.href='{% url 'accountHelp' %}'" style="color: white"> <p>Your Account</p></a>
                                <a onclick="location.href='{% url 'nav_home' %}'" style="color: white"> <p>Forum Help</p></a>
                                <a onclick="location.href='{% url 'nav_home' %}'" style="color: white"> <p>Connection Management</p></a>
                               <a onclick="location.href='{% url 'nav_home' %}'"style="color: white"> <p>Messaging</p></a>
                         <a href="https://www.getsmarter.com/what-we-do" style="color: white"> <p>GetSmarter</p></a>



                         </div>

                      <div class="col-sm-3" style="text-align:left;padding-left: 80px;"><!--coloumn-->

                              <p style="color:#e83e8c;font-size:20px;"><strong>Contact Us</strong></p>
                             <p style="color:white;"><strong>Tel: </strong> 456 4637</p>
                                <p style="color:white;"> <strong>Email: </strong> getConnected@GetSmarter.co.za</p>
                                 <p style="color:white;"><strong>Working Hours:</strong> Mon - Fri, 09:00 - 17:00</p>





                         </div>



                </div>

                <br>
                 <br>


            </li>
        </ul>
        <!-- Call to action -->

    </div>
    </div>
</footer>

</body>
</html>