<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Sign in Form with Icons</title>



        <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyCW2DTUu_qEhCG9xpj5gGkG2_QC_CmsGQE",
                authDomain: "getconnected-9dac0.firebaseapp.com",
                databaseURL: "https://getconnected-9dac0.firebaseio.com",
                projectId: "getconnected-9dac0",
                storageBucket: "getconnected-9dac0.appspot.com",
                messagingSenderId: "144309081376"
            };
            firebase.initializeApp(config);
        </script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- <link rel="stylesheet" type="text/css" href="../GC_Auth/static/GC_Auth/loginstyle.css">-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <!-- footer style -->
  <link href="sticky-footer.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>

/* specify the font for the page*/
      body {
        font-family: 'Roboto', sans-serif;
        font-weight: 150;
      }

/*align the "your badges" and trophy*/
      .badgeHeader{
        position: top center;
        text-align: center;

      }
/*set font of the title*/
      .badgeHeader h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 100px;

      }
      /*set the trophy image at the top's size*/
      .badgeHeader .logoclass img {
        width: 650px;
        height: 290px;
        margin: auto;
        display: block;
        padding-top:0;

      }

/* the line underneath the heading*/
      hr{

        background-color: silver;
        border-color: silver;
        border-width: 2px;
        width: 60%;
        padding-top: 0;
      }

/* set the row's padding, so they don't spread out to the edges of the page*/
      .row{
        padding-left: 200px;
        padding-right: 200px;
      }

/*set the info for the images (badges) inside each block*/
      .row .col-sm-3 img{
        width: 250px;
        height: 206px;
        margin: auto;
        display: block;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
      }
/*this is used for the hover over the badges to show badge details*/
      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 80%;
        left: 100%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        height: 50px;
        width: 200px;
        }

/*this is also used for the hover over the badges*/
        .badgehover{
            position: relative;
            width: 50%;
        }
/*for the badge hover*/
        .badgehover:hover .image {
          opacity: 0.3;
        }
/*for the badge hover */
        .badgehover:hover .middle {
          opacity: 1;
        }
/*the text when you hover over a badge*/
        .text {
          background-color: #ce3298;
          opacity: 0.8;
          color: white;
          font-size: 16px;
          text-align: center;
          font-family: 'Roboto', sans-serif;

        }

/*this sets the look of the tooltip '?'*/
         .tooltip-inner {
           background-color: #ce3298;
           opacity: 0.6 ;
           color: #FFFFFF;
           border: 1px #ce3298;
           padding: 15px;
           font-size: 12px;
         }

         .inf-content{
           border:1px solid #DDDDDD;
           margin: 20px;

        }

       /*footer logo*/
            footer img{


                width:200%;
                height:200%;


            }






  </style>



</head>

<body>

        <!--nav bar-->

      <!--*BODY* 1. Navigation Bar-->

<nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>  <!--navbar-header-->

                <div class="collapse navbar-collapse" id="myNavbar" > <!--Navigation bar contents-->

                    <!--Left-side (including search ) of navigation bar-->
                    <ul class="nav navbar-nav navbar-left">
                        <li><a onclick="location.href='{% url 'nav_home' %}'"><span class="glyphicon glyphicon-home fa-lg"></span> Home</a></li>
                        <li><a onclick="location.href='{% url 'nav_networks' %}'"><span class="fa fa-globe fa-lg"></span> Connections</a></li>
                        <li><a onclick="location.href='{% url 'nav_forums' %}'"><span class="fa fa-comments-o fa-lg"></span> Forums</a></li>
                        <li><a onclick="location.href='{% url 'nav_courses' %}'"><span class="fa fa-book fa-lg"></span> Courses</a></li>
                    </ul>

                    <ul class="nav navbar-nav" style = "left: 80px; position: relative; width:500px; padding-top: 8px"> <!--Search Input-->
                        <form class="  search-form" role="search">
                            <input type="text" class="form-control" placeholder="Search" />
                        </form>
                    </ul>

                    <!--Right-side (including help button ) of navigation bar-->

                    <!--1. User Profile icon + drop down-->

                    <ul class="nav navbar-nav navbar-right" >
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" >

                            <span  onclick="location.href='{% url 'userprofile' %}'" class="glyphicon glyphicon-user"></span>

                            <span class="glyphicon glyphicon-triangle-bottom"></span></a>

                            <ul class="dropdown-menu">
                                <li><a onclick="location.href='{% url 'settings' %}'">Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a onclick="location.href='{% url 'nav_forums' %}'">Forums <span class="fa fa-comments-o pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
                                <li class="divider"></li>
                                <li><a onclick="location.href='{% url 'helpUserProfile' %}'">Help<span class="glyphicon glyphicon-question-sign pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a onclick="location.href='{% url 'log' %}'">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                            </ul>
                        </li>
                    </ul>

                    <!--1. Notifications icon + drop down-->

                    <ul class="nav navbar-nav navbar-right ">
                        <li class="dropdown"><a id="idLabel" data-toggle="dropdown" data-target="#" href="#" onclick="CloseIntroForm(); OpenLogIn();">
                            <span class="glyphicon glyphicon-bell"></span> </a>

                            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                                <div class="notifications-wrapper">  <!--Notifications Dropdown div-->
                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>

                                    </a>
                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>

                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>
                                </div><!--End of Notifications Dropdown div-->

                                <!--Footer of notification drop down-->
                                <li class="divider"></li>
                                <li><a href="#">View All <span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>

                            </ul> <!--Dropdown menu Notification-->
                        </li><!--dropdown -->
                    </ul> <!--nav navbar-nav navbar-right-->


                    <!--2. Message icon + drop down-->

                    <ul class="nav navbar-nav navbar-right ">
                        <li class="dropdown"><a id="idMessage" data-toggle="dropdown" data-target="#" href="#" onclick="CloseIntroForm(); OpenLogIn();">
                            <span class="glyphicon glyphicon-envelope"></span> </a>

                            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                                <div class="notifications-wrapper"> <!--Messages Dropdown div-->

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>

                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>

                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                    <a class="content" href="#">
                                        <div class="notification-item">
                                            <img class="profile_img" src="http://gravatar.com/avatar/0e1e4e5e5c11835d34c0888921e78fd4?s=80" />
                                            <h4 class="item-title">James Coden · day ago</h4>
                                            <p class="item-info">Marketing 101, Video Assignment</p>
                                        </div>
                                    </a>

                                </div><!--End of Messages Dropdown div-->
                                <li class="divider"></li>
                                <li><a href="#">View All <span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>

                            </ul><!--Dropdown menu Messages-->
                        </li><!--dropdown -->
                    </ul> <!--nav navbar-nav navbar-right-->
                </div><!--collapse nav-bar collapse-->
            </div><!--container fluid-->
        </nav><!--nav navbar-inverse-->
        <!--end of nav-->


<div class="panel-body inf-content">

<!--display heading and top part-->
<div class="badgeHeader">
<!--  <h3> Your Trophies </h3>

  <hr color =>-->
    {% load staticfiles %}
  <img src = "{% static "GC_Auth/badge_icon.png" %}" alt="trohy" height="120" width="120">
  <h3> Your Badges </h3>
  <!--tooltip for '?'-->
  <a href="#" data-toggle="tooltip" title="Here you can see the badges you have earned from interacting with GetConnected."
  data-placement="right" style="font-size: 30px; position:absolute;right:300px;top:310px;color: #ce3298">
    <strong>?</strong><!--strong makes it bold-->
  </a>

  <div class="logoclass">

</div>
  <hr> <!--line-->
</div>
<br>
<div class="container-fluid">
<!--row1-->
    <div class="row"><!--connection badges-->
      <!--coloumn-->
      <div class="col-sm-3" style="background-color:white;">
        {% load staticfiles %}
          <!--friend finder 1 connection-->
        <div class ="badgehover"> <!--badge hover for the hovering over the badge-->

            {% if numConnections >= 1 %}

                <img src="{% static "GC_Auth/Badges/FriendFinder.png" %}" alt= "lock" class="image" >

                <div class="middle">
                   <div class="text"><strong>Friend Finder</strong> <br> 1 Connection</div>
                     <!--text for the hover-->
                 </div>
                {% else %}<!--no badge-->

                    <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
                    <div class="middle">
                        <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
                         <!--text for the hover-->
                     </div>
             {% endif %}



       </div>
      </div>



      <!--coloumn-->
      <div class="col-sm-3" style="background-color:white;">
{% load staticfiles %}
          <!--coloumn networking ninja-->
      <div class ="badgehover">
          {% if numConnections >= 5 %}

                <img src="{% static "GC_Auth/Badges/networkingNinja.jpg" %}" alt= "lock" class="image" >

                <div class="middle">
                   <div class="text"><strong>Networking Ninja</strong> <br> 5 Connections</div>
                     <!--text for the hover-->
                 </div>
                {% else %}<!--no badge-->
                    <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
                    <div class="middle">
                        <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
                         <!--text for the hover-->
                     </div>
             {% endif %}

      </div>
      </div>


      <!--coloumn-->
      <div class="col-sm-3" style="background-color:white;">

<div class ="badgehover">
           <!--coloumn crazy connector-->
          {% if numConnections >= 10%}

                <img src="{% static "GC_Auth/Badges/CrazyConnector.png" %}" alt= "lock" class="image" >

                <div class="middle">
                   <div class="text"><strong>Crazy Connector</strong> <br> 10 Connections</div>
                     <!--text for the hover-->
                 </div>
                {% else %}<!--no badge-->
                    <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
                    <div class="middle">
                        <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
                         <!--text for the hover-->
                     </div>
             {% endif %}

      </div>
      </div>
      <!--coloumn-->
      <div class="col-sm-3" style="background-color:white;">
        <div class ="badgehover">
           <!--coloumn popular profiler-->
          {% if numConnections >= 15 %}

                <img src="{% static "GC_Auth/Badges/PopularProfiler.jpg" %}" alt= "lock" class="image" >

                <div class="middle">
                   <div class="text"><strong>Popular Profiler</strong> <br> 15 Connections</div>
                     <!--text for the hover-->
                 </div>
                {% else %}<!--no badge-->
                    <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
                    <div class="middle">
                        <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
                         <!--text for the hover-->
                     </div>
             {% endif %}

        </div>
      </div>

    </div>
  <br>
  <!--row2-->
  <div class="row"><!--courses badges-->

    <!--coloumn-->
   <div class="col-sm-3" style="background-color:white;"><!-- 3 courses taken-->


        <div class ="badgehover">
           <!--coloumn popular profiler-->
          {% if numConnections >= 3 %}<!--bright spark 3 courses-->

                <img src="{% static "GC_Auth/Badges/BrigthSpark.png" %}" alt= "lock" class="image" >

                <div class="middle">
                   <div class="text"><strong>Bright Spark</strong> <br> 3 Courses</div>
                     <!--text for the hover-->
                 </div>
                {% else %}<!--no badge-->
                    <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
                    <div class="middle">
                        <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
                         <!--text for the hover-->
                     </div>
             {% endif %}

        </div>





      </div>
    <!--coloumn-->
    <div class="col-sm-3" style="background-color:white;">
          <!--fab academic 5 courses-->

        <div class ="badgehover">
           <!--coloumn popular profiler-->
          {% if numConnections >= 5 %}<!--bright spark 3 courses-->

                <img src="{% static "GC_Auth/Badges/FabAcademic.png" %}" alt= "lock" class="image" >

                <div class="middle">
                   <div class="text"><strong>Fab Academic</strong> <br> 5 Courses</div>
                     <!--text for the hover-->
                 </div>
                {% else %}<!--no badge-->
                    <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
                    <div class="middle">
                        <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
                         <!--text for the hover-->
                     </div>
             {% endif %}

        </div>



      </div>
    <!--coloumn-->
    <div class="col-sm-3" style="background-color:white;">
         <!--got smarter 10 courses-->

        <div class ="badgehover">
           <!--coloumn popular profiler-->
          {% if numConnections >= 10 %}<!--bright spark 3 courses-->

                <img src="{% static "GC_Auth/Badges/GotSmarter.png" %}" alt= "lock" class="image" >

                <div class="middle">
                   <div class="text"><strong>Got-Smarter</strong> <br> 10 Courses</div>
                     <!--text for the hover-->
                 </div>
                {% else %}<!--no badge-->
                    <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
                    <div class="middle">
                        <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
                         <!--text for the hover-->
                     </div>
             {% endif %}

        </div>


      </div>
    <!--coloumn-->
    <div class="col-sm-3" style="background-color:white;">
          <div class ="badgehover">
              {% load staticfiles %}
              <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
           <div class="middle">
            <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
           </div>
         </div>

      </div>
  </div>
<br>


<!--row3-->
  <div class="row"><!--miscellanous-->
    <!--coloumn-->
    <div class="col-sm-3" style="background-color:white;">
        <!--forum boffin , 1 forum-->

        <div class ="badgehover">
           <!--coloumn popular profiler-->
          {% if numConnections >= 1 %}<!--bright spark 3 courses-->

                <img src="{% static "GC_Auth/Badges/ForumBoffin.png" %}" alt= "lock" class="image" >

                <div class="middle">
                   <div class="text"><strong>Forum Boffin</strong> <br>Active in 1 Forum </div>
                     <!--text for the hover-->
                 </div>
                {% else %}<!--no badge-->
                    <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
                    <div class="middle">
                        <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
                         <!--text for the hover-->
                     </div>
             {% endif %}

        </div>




      </div>
    <!--coloumn-->
    <div class="col-sm-3" style="background-color:white;"><!--Privacy-->

        <div class ="badgehover">
           <!--coloumn super security-->

          {% if numConnections >= 3 %}

                <img src="{% static "GC_Auth/Badges/superSecurity.png" %}" alt= "lock" class="image" >

                <div class="middle">
                   <div class="text"><strong>Super Security</strong> <br> Updated you Privacy Settings</div>
                     <!--text for the hover-->
                 </div>
                {% else %}<!--no badge-->
                    <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
                    <div class="middle">
                        <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
                         <!--text for the hover-->
                     </div>
             {% endif %}

        </div>


      </div>
    <!--coloumn-->
    <div class="col-sm-3" style="background-color:white;">

 <div class ="badgehover">
             <!--coloumn popular profiler-->
          {% if numConnections >= 1 %}<!--decorator update header-->

                <img src="{% static "GC_Auth/Badges/decorator.jpg" %}" alt= "lock" class="image" >

                <div class="middle">
                   <div class="text"><strong>#Selfie</strong> <br> Adding a profile picture </div>
                     <!--text for the hover-->
                 </div>
                {% else %}<!--no badge-->
                    <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
                    <div class="middle">
                        <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
                         <!--text for the hover-->
                     </div>
             {% endif %}

    </div>
      </div>
    <!--coloumn-->
    <div class="col-sm-3" style="background-color:white;">
          <div class ="badgehover">
              {% load staticfiles %}
              <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
           <div class="middle">
            <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
           </div>
         </div>

      </div>
  </div>
<br>
<!--row4-->
<div class="row">
  <!--coloumn-->
  <div class="col-sm-3" style="background-color:white;">
          <div class ="badgehover">
              {% load staticfiles %}
              <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
           <div class="middle">
            <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
           </div>
         </div>

      </div>
  <!--coloumn-->
 <div class="col-sm-3" style="background-color:white;">
          <div class ="badgehover">
              {% load staticfiles %}
              <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
           <div class="middle">
            <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
           </div>
         </div>

      </div>
  <!--coloumn-->
  <div class="col-sm-3" style="background-color:white;">
          <div class ="badgehover">
              {% load staticfiles %}
              <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
           <div class="middle">
            <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
           </div>
         </div>

      </div>
  <!--coloumn-->
 <div class="col-sm-3" style="background-color:white;">
          <div class ="badgehover">
              {% load staticfiles %}
              <img src="{% static "GC_Auth/lockCircle.png" %}" alt= "lock" class="image" >
           <div class="middle">
            <div class="text"><strong>Oops!</strong> <br> Badge Locked</div>
           </div>
         </div>

      </div>

</div>

  </div>
</div>



<script>
<!--tooltip functionality-->
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>



<!-- Footer -->
<footer class="page-footer font-small cyan darken-3" style="background-color: #D3D3D3;">


    <div class="container">
        <br></br>
        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <!--  <h5 class="mb-1">Log in now: </h5>-->
            </li>
            <li class="list-inline-item">





                <div class="rowthis" ><!--table row-->

                    <div class="col-sm-3"  style="text-align:left;padding-right: 150px;">
                        <br>
                    {% load staticfiles %}
                        <img src="{% static "GC_Auth/logotrans.png" %}" alt= "lock" class="image" >
                    </div>


                        <div class="col-sm-3"  style="text-align:left;padding-left: 120px;">

                          <p style="color:#e83e8c;font-size:20px;"><strong>Menu</strong></p>
                                <a onclick="location.href='{% url 'nav_home' %}'" style="color: white"> <p>Home</p></a>
                                <a onclick="location.href='{% url 'nav_networks' %}'" style="color: white"> <p>Connections</p></a>
                                <a onclick="location.href='{% url 'nav_forums' %}'" style="color: white"> <p>Forums</p></a>
                                <a onclick="location.href='{% url 'nav_courses' %}'"  style="color: white"> <p>Courses</p></a>
                         </div>

                    <div class="col-sm-3" style="text-align:left;padding-left: 80px;"><!--coloumn-->

                              <p style="color:#e83e8c;font-size:20px;"><strong>Help & FAQs</strong></p>

                                <a onclick="location.href='{% url 'introHelp' %}'" style="color: white"> <p>What is GetConnected?</p></a>
                                <a onclick="location.href='{% url 'accountHelp' %}'" style="color: white"> <p>Your Account</p></a>
                                <a onclick="location.href='{% url 'nav_home' %}'" style="color: white"> <p>Forum Help</p></a>
                                <a onclick="location.href='{% url 'nav_home' %}'" style="color: white"> <p>Connection Management</p></a>
                               <a onclick="location.href='{% url 'nav_home' %}'"style="color: white"> <p>Messaging</p></a>
                         <a href="https://www.getsmarter.com/what-we-do" style="color: white"> <p>GetSmarter</p></a>



                         </div>

                      <div class="col-sm-3" style="text-align:left;padding-left: 80px;"><!--coloumn-->

                              <p style="color:#e83e8c;font-size:20px;"><strong>Contact Us</strong></p>
                             <p style="color:white;"><strong>Tel: </strong> 456 4637</p>
                                <p style="color:white;"> <strong>Email: </strong> getConnected@GetSmarter.co.za</p>
                                 <p style="color:white;"><strong>Working Hours:</strong> Mon - Fri, 09:00 - 17:00</p>





                         </div>



                </div>

                <br>
                 <br>


            </li>
        </ul>
        <!-- Call to action -->

    </div>
    </div>
</footer>

</body>


