<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-md-3" style="margin-top: 75px; ">
            <div class=" rightColumnContainer" style="width: 200px"><!--Connections Card-->

                <div style="position: relative;  top: 3px;">

                </div>

                <div class="row" style="margin-top: -15px; text-align: center">

                    <div
                    ">
                    <div style="font-family: 'Arial Narrow'; text-align: center; font-weight: bold; font-size: small; top: 5px; position: relative">
                        Artificial Intelligence: Implications of Business Strategy
                    </div>


                    <span class="badge badge-pill badge-dark"
                          style="color: white; font-size: x-small;  top: 10px">Highly Recommended </span><br>

                    <a style="font-size: smaller; margin-left: 0px;color: gray; font-weight: bold"
                       href="https://www.getsmarter.com/courses/uk/oxford-blockchain-strategy-programme">
                        VIEW COURSE <i class="fa fa-angle-double-right"></i>
                    </a>
                </div>

            </div>
        </div><!--end of Connections Card--><br style="height: 0.5px">






</body>
</html>