<!DOCTYPE html>
<html lang="en">
<head>


    <!--Firebase-->

    <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCW2DTUu_qEhCG9xpj5gGkG2_QC_CmsGQE",
            authDomain: "getconnected-9dac0.firebaseapp.com",
            databaseURL: "https://getconnected-9dac0.firebaseio.com",
            projectId: "getconnected-9dac0",
            storageBucket: "getconnected-9dac0.appspot.com",
            messagingSenderId: "144309081376"
        };
        firebase.initializeApp(config);
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connection Help</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" type="text/css" href="../GC_Auth/static/GC_Auth/loginstyle.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- footer style -->
    <link href="sticky-footer.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>

        /* specify the font for the page*/
        body {
            font-family: 'Roboto', sans-serif;
            text-align: center;

        }

        /*specifiy the font for the header*/
        .header p {

            font-size: 40px;
            color: gray;
            text-align: center;
            padding-top: 0px;

        }

        /*specify the look for the pink strip*/
        .intro {
            background-color: #e83e8c;
            opacity: 0.8;
            color: white;
            font-size: 20px;
            text-align: left;
            padding-left: 200px;
            padding-right: 200px;
            padding-top: 20px;
        }

        /*css for the block text*/

        .features p {
            text-align: center;

            font-size: 25px;
            padding-top: 20px;
            font-size: 40px;
            color: gray;


        }

        /*footer logo*/
        footer img {


            width: 200%;
            height: 200%;
            text-align: left;

        }


        /*text for the blocks which show the features*/
        .row p {
            font-size: 20px;
            color: #e83e8c;
            text-align: left;
            padding-top: 0px;
        }

        /*headings for the blocks*/
        .row h1 {
            font-size: 18px;
            color: gray;
            text-align: left;
        }

        /*move the row away from the edges*/
        .row {
            padding-left: 40px;
            padding-right: 40px;
        }


        /*removes the underlining for the links in the blocks*/
        a:hover {
            text-decoration: none;

        }

        /*specify the look for the Freq asked Questions*/
        .faq {
            background-color: #9d9d9d;

            padding-left: 50px;
            padding-right: 50px;
            padding-top: 10px;
            text-align: left;
            width: 80%;
            position: center;
            display: inline-block;

        }

        /*specify the heading for the FAQ*/
        .faq h1 {
            font-size: 20px;
            color: white; /*#e83e8c*/
            text-align: left;

        }

        /*text qualities for the FAQ*/
        .faq p {
            font-size: 18px;
            color: silver;
            text-align: left;
            padding-top: 0;

        }

        /*numbers in FAQ*/
        .numbercircles {
            border-radius: 50%;
            behavior: url(PIE.htc);
            width: 36px;
            height: 36px;
            padding: 8px;
            background: #9d9d9d;
            border: 2px solid white;
            color: white;
            text-align: center;
            font-size: 20px;
            display: inline-block;
        }

        /*strip for badges*/
        .badges {
            background-color: #e83e8c;
            opacity: 0.8;

        }


    </style>


</head>


<body>

<!--Navigation Bar-->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>  <!--navbar-header-->

        <div class="collapse navbar-collapse" id="myNavbar"> <!--Navigation bar contents-->

            <!--Left-side (including search ) of navigation bar-->
            <ul class="nav navbar-nav navbar-left">
                <li><a onclick="location.href='{% url 'nav_home' %}'"><span
                        class="glyphicon glyphicon-home fa-lg"></span> Home</a></li>
                <li><a onclick="location.href='{% url 'nav_networks' %}'"><span class="fa fa-globe fa-lg"></span>
                    Connections</a></li>
                <li><a onclick="location.href='{% url 'nav_forums' %}'"><span class="fa fa-comments-o fa-lg"></span>
                    Forums</a></li>
                <li><a onclick="location.href='{% url 'nav_courses' %}'"><span class="fa fa-book fa-lg"></span> Courses</a>
                </li>
            </ul>

            <ul class="nav navbar-nav" style="left: 80px; position: relative; width:500px; padding-top: 8px">
                <!--Search Input-->

            </ul>

            <!--Right-side (including help button ) of navigation bar-->

            <!--1. User Profile icon + drop down-->

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">

                    <span onclick="location.href='{% url 'userprofile' %}'"> <img class="rounded-circle" width="30"
                                                                                  height="30"
                                                                                  style="border-radius: 20px;"
                                                                                  src="{{ profilePic }}" alt=""></span>

                    <span class="glyphicon glyphicon-triangle-bottom"></span></a>

                    <ul class="dropdown-menu">
                        <li><a onclick="location.href='{% url 'settings' %}'">Settings <span
                                class="glyphicon glyphicon-cog pull-right"></span></a></li>
                        <li class="divider"></li>
                        <li><a onclick="location.href='{% url 'nav_forums' %}'">Forums <span
                                class="fa fa-comments-o pull-right"></span></a></li>
                        <li class="divider"></li>

                        <li><a onclick="location.href='{% url 'helpUserProfile' %}'">Help<span
                                class="glyphicon glyphicon-question-sign pull-right"></span></a></li>
                        <li class="divider"></li>
                        <li><a onclick="location.href='{% url 'log' %}'">Sign Out <span
                                class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                    </ul>
                </li>
            </ul>

            <li class="dropdown"><a id="idMessage" data-toggle="dropdown" data-target="#" href="#"
                                    onclick="CloseIntroForm(); OpenLogIn();">


                <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">


                </ul><!--Dropdown menu Messages--> </a>
            </li><!--dropdown -->
        </div><!--collapse nav-bar collapse-->
    </div><!--container fluid-->
</nav><!--nav navbar-inverse-->

<!--heading and content-->

<div class="header">
    {% load staticfiles %}
    <p><img src="{% static "GC_Auth/help/connections.png" %}" alt="lock" class="image" style="width:10%; height: 10%;">
        <strong> Connections </strong></p>

</div>
<!--short intro paragraph in pink strip-->
<div class="intro">
    <p style="text-align: center;"> Build you GetConnected community with Connections. Find tips for managing your
        connections, improving your privacy settings and meeting new people.</p>
    <br>

</div>

<!--create accordion with different sections -->
<br>
<div class=" features">
    <div class="panel-group text" id="accordion" style="width: 100%;padding-left: 0px;"><!--accordion of details-->

        <!--panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseWhatAreConnections"
                       style="color:#ce3298">
                        <strong>
                            What are Connections?
                        </strong>
                    </a>
                </h4>
            </div>
            <div id="collapseWhatAreConnections" class="panel-collapse collapse">
                <div class="panel-body">


                    <div class="row">
                        <!--coloumn-->
                        <div class="col-sm-6" style="background-color:white;">
                            <!--description-->
                            <p> Connections</p>
                            <h1 style="color:grey;"> GetConnected is a networking platform aimed at facilitating the
                                building of relationships between like-minded
                                individuals. So how do you do this? Well through connections, of course. Connections are
                                other users of the GetConnected
                                platform who have similar interests to you and who you can connect with. </h1>


                        </div>
                        <!--coloumn-->
                        <!--image-->
                        <div class="col-sm-6" style="background-color:white;">
                            <br>
                            {% load staticfiles %}
                            <img src="{% static "GC_Auth/help/connectiontabs.png" %}" alt="lock" class="image"
                                 style="width:60%; height:60%;border: 1px solid silver;">


                        </div>


                    </div>
                    <br>

                </div>
                <!--row 2nd paragraph on right-->

                <div class="row">
                    <!--coloumn-->
                    <div class="col-sm-6" style="background-color:white;">
                        <br><br>
                        {% load staticfiles %}
                        <img src="{% static "GC_Auth/connectionFilter.png" %}" alt="lock" class="image"
                             style="width:40%; height:40%; border: 1px solid silver;">


                    </div>
                    <!--coloumn-->
                    <div class="col-sm-6" style="background-color:white;">
                        <br><br>
                        <h1 style="color:grey;">To find connections, navigate to the connections page through the
                            navigation bar. Here you will see all the people you are connected with
                            under the "My connections" tab (seen above). You can also find new connections on this page
                            by clicking the "explore" tab. You can search through
                            connections using the search bar seen on the left. </h1>

                    </div>


                </div>

                <br>
            </div><!--end-->
        </div>

        <!--panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseAdding"
                       style="color:#ce3298">
                        <strong>
                            Interacting with Connections
                        </strong>
                    </a>
                </h4>
            </div>
            <div id="collapseAdding" class="panel-collapse collapse">
                <div class="panel-body">

                    <!--row1 -->


                    <div class="row">
                        <!--coloumn-->
                        <div class="col-sm-6" style="background-color:white;">
                            <!--description-->
                            <p> Adding & Removing </p>
                            <h1 style="color:grey;"> If you see someone you would be interested in connecting with,
                                click the "Connect" button, seen on the right.
                                Before you become connected with someone else, they have to first accept your connection
                                request. If they accept, they will
                                show up under "My Connections", you can view their profile and send them direct
                                messages!</h1>


                        </div>
                        <!--coloumn-->
                        <!--image-->
                        <div class="col-sm-6" style="background-color:white;">
                            <br>
                            {% load staticfiles %}
                            <img src="{% static "GC_Auth/add connection.png" %}" alt="lock" class="image"
                                 style="width:25%; height:25%;">


                        </div>


                    </div>
                    <br>

                    <div class="row">
                        <!--coloumn-->
                        <div class="col-sm-6" style="background-color:white;">
                            <br><br>
                            {% load staticfiles %}
                            <img src="{% static "GC_Auth/removeconnection.png" %}" alt="lock" class="image"
                                 style="width: 50% ; height: 50% ;">


                        </div>
                        <!--coloumn-->
                        <div class="col-sm-6" style="background-color:white;">
                            <br><br>

                            <h1 style="color:grey;">If you no longer wish to be connected with someone, simply navigate
                                to "my connections" and click "remove connection".
                                The person will be removed from your connections and you will no longer be
                                connected.</h1>

                            <h1> If you are connected with someone and want to view their profile, you can click "view
                                profile". </h1>

                        </div>


                    </div>


                </div>
            </div>
        </div>


        <!--panel FAQ-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><!--panel 1 heading-->
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseFaq" style="color:#ce3298">
                        <strong>
                            Frequently Asked Questions
                        </strong>
                    </a>
                </h4>
            </div>
            <div id="collapseFaq" class="panel-collapse collapse">
                <!--panel 1 content-->
                <div class="panel-body">

                    <!--Frequently asked questions section-->
                    <p style="font-size: 40px;color:gray;text-align: center;"> Frequently Asked Questions</p>
                    <!--grey block with questions & answers-->
                    <div class="faq">
                        <!--question-->
                        <h1>
                            <div class="numbercircles">1</div>
                            <i>
                                What do I do if someone keeps trying to add me as a connection and I do not accept?</i>
                        </h1>
                        <!--padding left indents the answer to the right-->
                        <p style="padding-left: 40px;"> You can block other profiles from your profile so they will be
                            unable to send you messages, connect with you or view your profile.
                        </p>

                        <!--question-->
                        <h1>
                            <div class="numbercircles">2</div>
                            <i>
                                Is there a limit to the number of people I can connect with? </i></h1>
                        <p style="padding-left: 40px;">No, you can connect with as many people as you wish. </p>

                        <!--question-->
                        <h1>
                            <div class="numbercircles">3</div>
                            <i>
                                How do I view more information about a person?</i></h1>
                        <p style="padding-left: 40px;">Click on the person's profile in the connections page and a more
                            detailed view will open.</p>


                    </div>

                </div>
            </div>
        </div><!--end panel-->


    </div><!--end of accordion-->
</div>
<div class="footeritems">
    <!--footer-->
    <footer class="page-footer font-small cyan darken-3" style="background-color: #D3D3D3;">


        <div class="container">
            <br></br>
            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <!--  <h5 class="mb-1">Log in now: </h5>-->
                </li>
                <li class="list-inline-item">


                    <div class="rowthis"><!--table row-->

                        <div class="col-sm-3" style="text-align:left;padding-right: 100px;">
                            <br>
                            {% load staticfiles %}
                            <img src="{% static "GC_Auth/logotrans.png" %}" alt="lock" class="image">
                        </div>


                        <div class="col-sm-3" style="text-align:left;padding-left: 120px;">

                            <p style="color:#e83e8c;font-size:20px;"><strong>Menu</strong></p>
                            <a onclick="location.href='{% url 'nav_home' %}'" style="color: white"><p>Home</p></a>
                            <a onclick="location.href='{% url 'nav_networks' %}'" style="color: white"><p>
                                Connections</p>
                            </a>
                            <a onclick="location.href='{% url 'nav_forums' %}'" style="color: white"><p>Forums </p></a>
                            <a onclick="location.href='{% url 'nav_courses' %}'" style="color: white"><p>Courses</p></a>
                        </div>

                        <div class="col-sm-3" style="text-align:left;padding-left: 80px;"><!--coloumn-->

                            <p style="color:#e83e8c;font-size:20px;"><strong>Help & FAQs</strong></p>

                            <a onclick="location.href='{% url 'introHelp' %}'" style="color: white"><p>What is
                                GetConnected?</p></a>
                            <a onclick="location.href='{% url 'accountHelp' %}'" style="color: white"><p>Your
                                Account</p>
                            </a>
                            <a onclick="location.href='{% url 'forumsHelp' %}'" style="color: white"><p>Forums &
                                Messaging Help</p></a>
                            <a onclick="location.href='{% url 'helpconnections' %}'" style="color: white"><p>Connection
                                Management</p></a>
                            <a onclick="location.href='{% url 'helpcourses' %}'" style="color: white"><p>Courses
                                Help</p></a>
                            <a href="https://www.getsmarter.com/what-we-do" style="color: white"><p>GetSmarter</p></a>


                        </div>

                        <div class="col-sm-3" style="text-align:left;padding-left: 80px;"><!--coloumn-->

                            <p style="color:#e83e8c;font-size:20px;"><strong>Contact Us</strong></p>
                            <p style="color:white;"><strong>Tel: </strong> 456 4637</p>
                            <p style="color:white;"><strong>Email: </strong> getConnected@GetSmarter.co.za</p>
                            <p style="color:white;"><strong>Working Hours:</strong> Mon - Fri, 09:00 - 17:00</p>


                        </div>


                    </div>

                    <br>
                    <br>


                </li>
            </ul>
            <!-- Call to action -->

        </div>

    </footer>
</div>


</body>
</html>