{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign</title>

</head>
<body>
<form action="/postsign/" method="post">
    {% csrf_token %}
    Email :
    <input type="email" name="email"><br><br>
    Password:
    <input type="password" name="pass"><br><br>
    <input type="submit" value="SignIn">
    <button type="button" onclick="location.href='{% url 'signup' %}'">SignUp</button>
</form>
</body>
</html>


<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCW2DTUu_qEhCG9xpj5gGkG2_QC_CmsGQE",
    authDomain: "getconnected-9dac0.firebaseapp.com",
    databaseURL: "https://getconnected-9dac0.firebaseio.com",
    projectId: "getconnected-9dac0",
    storageBucket: "getconnected-9dac0.appspot.com",
    messagingSenderId: "144309081376"
  };
  firebase.initializeApp(config);
</script>



E-mail: <input type="email" id = "email" name="emailaddress">
<button id = "quick-start-password-reset" onclick = "resetPass()" >Send password reset email</button>


<script>

   function resetPass() {

       var email = document.getElementById('email').value;
       firebase.auth().sendPasswordResetEmail(email).then(function () {
          $("#modalResetSent").modal('show');
       }).catch(function (error) {
           var errorCode = error.code;
           var errorMessage = error.message;
           if (errorCode =='auth/invalid-email'){
                $("#modalError").modal('show');
           } else if (errorCode == 'auth/uder-not-found'){
                $("#modalError").modal('show');
           }
           console.log(error);

       });

   }



</script>

<!-- Modal for pop up message "password reset sent" -->
<div class="modal fade" id="modalResetSent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Password Reset</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Password reset email has been sent!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal for pop up message "password error " -->
<div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Invalid Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Invalid entry, please try again.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
