

        button:hover{
             -ms-transform: scale(1); /* IE 9 */
             -webkit-transform: scale(1); /* Safari 3-8 */
             transform: scale(1);
             border: 1px solid silver ;
            box-shadow: 3px 3px 3px #888888;
    }


        .login-form {
            width: 800px;
            margin: 50px auto;
            top: 30%;
            right: 22%;
            position:absolute;

        }
        .login-form form {
            margin-bottom: 15px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
            background-color: white;
            opacity: 0.7;
            filter: alpha(opacity=60); /* For IE8 and earlier */
        }

         h2 {
            margin: 0 0 15px;
            color:  #e83e8c;

        }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .input-group-addon .fa {
            font-size: 18px;
        }

        .label-rem {
            color:  #e83e8c;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
            background-color: #e83e8c;
            border-color: black;
        }

        body, html {
            height: 100%;
            position: top right;
            margin: 0;
        }
         /*footer logo*/
            footer img{


                width:200%;
                height:200%;
               text-align: left;

            }

        .bg {
            /* The image used
         background-image: url("headerpic.jpg");*/

            /* Full height */
            height: 100%;
             background-image: url("../static/GC_Auth/backgroundbubs2.jpg");
            /* Center and scale the image nicely */
            background-position: right center;
            background-repeat: no-repeat;
            background-size: cover;



        }
        #overlay {


                  width: 100%; /* Full width (cover the whole page) */
                  height: 30%; /* Full height (cover the whole page) */
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-color: rgba(0,0,0,1); /* Black background with opacity */
                  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}


        .bg .logo{
          position: absolute;
        /* left: 2%;
        //  top: 7%;
        position:relative;*/
          top:20%;
          left:57%;
          transform:translate(-50%, -50%)

        }

        .bg .logo img{
          height: 80%;
          width: 80% ;


        }

        .intro-form{
          width: 800px;
          margin: 50px auto;
          top: 30%;
          right: 23%;
          position:absolute;
            padding-top: 10px;

    }



        .intro-form form{
          margin-bottom: 15px;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
          padding: 20px;
          background-color: white;
          opacity: 1;
          border:1px solid gray;
          filter: alpha(opacity=60); /* For IE8 and earlier */
        }

        .login-form {
          top: 17%;
          right: 22%;
          position:absolute;
        }

        .login-form form{
          opacity: 1;
          border-color: gray;
        }

        .description p{

        }

        .description .functions img{
          height: 8%;
          width: 15% ;

        }

        .footer{
          background-color: #D3D3D3;
        }

        .description .function img{
          position:relative;
          top:50%;
          left:50%;
          transform:translate(-50%, -50%);
        }



       .carousel-inner > .item > img {
            width:1000px;
            height:300px;

          }

      button{

            border-radius: 8px;
            color: white;
            background-color: #e83e8c;
            border: 2px  solid #e83e8c;
            display: inline-block;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left:10px;
            padding-right:10px;
            font-size: 16px;

       }

      button:focus{
          outline:none;
      }



          /*.carousel-inner img {
            margin: auto;
            background-position: center center;
          }*/



